<h1>Locations</h1>
<ul>
	<% @locations.each do |location| %>
		<li>
		<% if location.name.present? %>
			<%= location.name %> -
		<% end %>
		<%= link_to location.city, location_path(location) %></li>
		<% if location.description.present? %>
			- <%= location.description %>
		<% end %>
	<% end %>
</ul>